<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Agrega tu email para reestablecer la contraseña
            form.caja-login(method="POST" action="/restablecer")
                .campo 
                    label(for="email") E-mail: 
                    input(type="email", name="email" placeholder="Tu Email" value= email) 
                    //- input(type="email", name="email" placeholder="Tu Email" required) 
                
                .campo.enviar 
                    input.boton(type="submit" value="Restablecer Password")
                .campo.acciones 
                    a(href="/iniciar-sesion") Ya lo recordé, volver a Login
                