extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        //-  TODO - Formulario aqui

        //-  TODO - Listado de Pendientes

        //- Acciones que se pueden realizar
        .contenedor-acciones
            a(href="" class="boton") Editar Proyecto
